In [1]:
import pandas as pd
import numpy as np

In [2]:
harvey = pd.read_csv('311-Public-Data-Extract-Harvey.csv')

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (29) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
type(harvey['DUE DATE            '])

pandas.core.series.Series

In [4]:
harvey= harvey[harvey['DUE DATE            ']!='NULL                ']

In [5]:
harvey['DUE DATE            '] = pd.to_datetime(harvey['DUE DATE            '])

In [6]:
(harvey['DUE DATE            '].dt.month)==7

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
77574    False
77575    False
77576    False
77577    False
77578    False
77579     True
77580    False
77581    False
77582     True
77583    False
77584    False
77585    False
77586    False
77587    False
77588    False
77589    False
77590     True
77591    False
77592    False
77593    False
77594    False
77595    False
77596    False
77597    False
77598    False
77599    False
77600    False
77601    False
77602    False
77603    False
Name: DUE DATE            , Length: 77328, dtype: bool

In [10]:
harvey.columns

Index(['CASE NUMBER                   ',
       'SR LOCATION                                                                          ',
       'COUNTY              ', 'DISTRICT  ',
       'NEIGHBORHOOD                            ', 'TAX ID              ',
       'TRASH QUAD          ', 'RECYCLE QUAD        ', 'TRASH DAY           ',
       'HEAVY TRASH DAY     ', 'RECYCLE DAY', 'KEY MAP   ',
       'MANAGEMENT DISTRICT                     ',
       'DEPARTMENT                              ',
       'DIVISION                                ',
       'SR TYPE                                 ',
       'QUEUE                                   ', 'SLA       ',
       'STATUS              ', 'SR CREATE DATE      ', 'DUE DATE            ',
       'DATE CLOSED         ', 'OVERDUE             ',
       'Title                                                                                                         ',
       'x                   ', 'y                   ', 'LATITUDE            ',
       'LONGITUDE           ', 'Channel Type', 'Unnamed: 29'],
      dtype='object')

In [13]:
harvey['month'] = (harvey['DUE DATE            '].dt.month)

In [14]:
harvey[harvey.month==5].head()

,CASE NUMBER,SR LOCATION,COUNTY,DISTRICT,NEIGHBORHOOD,TAX ID,TRASH QUAD,RECYCLE QUAD,TRASH DAY,HEAVY TRASH DAY,...,DATE CLOSED,OVERDUE,Title,x,y,LATITUDE,LONGITUDE,Channel Type,Unnamed: 29,month
5,67245-101002716491,"5455 EAST, HOUSTON TX 77020 ...",HARRIS,B,GREATER FIFTH WARD,1.25E+12,NE,NE,FRIDAY,1st Thursday,...,8/24/17 16:21,-258.65,Nuisance On Property - 223638 ...,3137068.644,13847733.51,29.77483873,-95.31584269,WAP,NaN,5.0
6,67246-101002716492,"2726 WESTERLAND, HOUSTON TX 77063 ...",HARRIS,F,MID WEST,9.36E+11,SW,SW,MONDAY,1st Friday,...,10/23/17 9:21,-198.94,Nuisance On Property - 223499 ...,3069002.927,13831530.47,29.73617547,-95.53176707,WAP,NaN,5.0
16,67247-101002716503,"2202 W ALABAMA, HOUSTON TX 77098 ...",HARRIS,C,GREENWAY / UPPER KIRBY AREA,1.11E+11,NW,SW,MONDAY,1st Wednesday,...,8/24/17 16:21,-258.65,Nuisance On Property - 223645 ...,3106525.301,13833545.72,29.73883172,-95.41344613,WAP,NaN,5.0
18,67248-101002716505,"2311 W ALABAMA, HOUSTON TX 77098 ...",HARRIS,C,GREENWAY / UPPER KIRBY AREA,1.21E+11,NW,SW,MONDAY,1st Wednesday,...,10/16/17 16:21,-205.65,Nuisance On Property - 223646 ...,3105649.345,13833475.72,29.73821066,-95.4160325,WAP,NaN,5.0
21,67249-101002716508,"2526 W ALABAMA, HOUSTON TX 77098 ...",HARRIS,C,GREENWAY / UPPER KIRBY AREA,1.01E+11,,,,,...,8/24/17 15:21,-258.69,Nuisance On Property - 223648 ...,3104923.78,13833445.18,29.73862389,-95.41848271,WAP,NaN,5.0

In [15]:
type(m1)

NameError: name 'm1' is not defined

In [17]:
harvey.head()

,CASE NUMBER,SR LOCATION,COUNTY,DISTRICT,NEIGHBORHOOD,TAX ID,TRASH QUAD,RECYCLE QUAD,TRASH DAY,HEAVY TRASH DAY,...,DATE CLOSED,OVERDUE,Title,x,y,LATITUDE,LONGITUDE,Channel Type,Unnamed: 29,month
0,12161731-101002716483,"5303 PALMETTO, HOUSTON TX 77081 ...",HARRIS,J,GULFTON,1.20E+12,SW,SE,TUESDAY,1st Friday,...,8/23/17 0:30,-1.98,Water Service-101002716483 ...,3087908.979,13823251.39,29.71184581,-95.47298327,Voice In,NaN,8.0
1,1.01E+11,"8131 LOYAL, HOUSTON TX 77016 ...",HARRIS,B,EAST LITTLE YORK / HOMESTEAD,1.28E+12,NE,NW,TUESDAY,2nd Monday,...,8/23/17 11:12,-5.87,Missed Garbage Collection-101002716484 ...,3147800.641,13880048.61,29.86285934,-95.27870914,Voice In,NaN,8.0
2,12161732-101002716485,Intersection 5200 DUNLAVY ST&1700 SOUTH BLVD ...,Harris County,C,UNIVERSITY PLACE,NULL,,,,,...,8/25/17 6:10,-7.77,Water Leak-101002716485 ...,3110240.761,13829317.66,29.72665013,-95.40207675,Voice In,NaN,9.0
3,12161733-101002716486,"5419 GULFTON, HOUSTON TX 77081 ...",HARRIS,J,GULFTON,7.62E+11,SW,SE,TUESDAY,1st Friday,...,8/23/17 1:00,-1.99,Water Service-101002716486 ...,3087136.175,13824737.97,29.71599619,-95.47527561,Voice In,NaN,8.0
4,1.01E+11,Intersection 5000 KIRKPATRICK BLVD&0 N LOOP FW...,Harris County,B,TRINITY / HOUSTON GARDENS,NULL,,,,,...,8/23/17 17:00,-3.33,Remove Dead Animal from City Street or Curb-10...,3144472.192,13858821.38,29.8048057,-95.29132843,Voice In,NaN,8.0

In [32]:
type()

KeyError: 'DUE DATE            '

In [16]:
harvey.columns

Index(['CASE NUMBER                   ',
       'SR LOCATION                                                                          ',
       'COUNTY              ', 'DISTRICT  ',
       'NEIGHBORHOOD                            ', 'TAX ID              ',
       'TRASH QUAD          ', 'RECYCLE QUAD        ', 'TRASH DAY           ',
       'HEAVY TRASH DAY     ', 'RECYCLE DAY', 'KEY MAP   ',
       'MANAGEMENT DISTRICT                     ',
       'DEPARTMENT                              ',
       'DIVISION                                ',
       'SR TYPE                                 ',
       'QUEUE                                   ', 'SLA       ',
       'STATUS              ', 'SR CREATE DATE      ', 'DUE DATE            ',
       'DATE CLOSED         ', 'OVERDUE             ',
       'Title                                                                                                         ',
       'x                   ', 'y                   ', 'LATITUDE            ',
       'LONGITUDE           ', 'Channel Type', 'Unnamed: 29'],
      dtype='object')

In [10]:
harvey.size

2328120

In [14]:
harvey1 = harvey.dropna(axis=1)

In [13]:
harvey1